.App {
  text-align: center;
  
}





.film {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 25px;
  justify-content: space-around;
  align-content:space-between;
  min-height: 100vh;
  margin: 40px;
  margin-top: 150px;
  
  
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1ca44d;
  border-radius: 10px;
  margin: 40px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 10px;

}
